<!-- IF S_RECRUITMENT_BLOCK_ACTIVE -->
<div class="forabg">
	<div class="inner"><span class="corners-top"><span></span></span>
		<ul class="topiclist">
			<li class="header">
				<dl class="icon">
					<dt>{L_RECRUITMENT_TITLE}</dt>
				</dl>
			</li>
		</ul>
		<!-- BEGIN n_roles -->
			<!-- IF .n_roles.n_recruit -->
				<ul class="topiclist">
					<li class="bg1">{n_roles.NAME}
						<ul class="topiclist">
						<!-- BEGIN n_recruit -->
							<li class="bg1">{n_roles.n_recruit.CLASS}</li>
						<!-- END n_recruit -->
						</ul>
					</li>
				</ul>
			<!-- ENDIF -->
		<!-- END n_roles -->
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->
